<!DOCTYPE html>
<html>
<head>
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css">

  <!-- Optional theme -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap-theme.min.css">

  <!-- Latest compiled and minified JavaScript -->
  <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
  <script type="text/javascript">
(function(){(function(){function a(){if(!b.dialogArguments)return navigator.cookieEnabled;document.cookie="__dTCookie=1";var a=-1!==document.cookie.indexOf("__dTCookie");document.cookie="__dTCookie=1; expires=Thu, 01-Jan-1970 00:00:01 GMT";return a}if(window.dT_)window.console&&window.console.log("Duplicate agent injection detected, turning off redundant initConfig.");else{var b="undefined"!==typeof window?window:self;a()&&(window.dT_||(window.dT_={cfg:"app=0a38f5c7d06b3d5d|cors=1|featureHash=A2SVfqr|srsr=25000|reportUrl=https://bf68797zwd.bf.dynatrace.com/bf|rdnt=1|uxrgce=1|bp=2|srms=1,1,,,|uxrgcm=100,25,300,3;100,25,300,3|dpvc=1|lastModification=1555112589529|dtVersion=10165190401123324|tp=500,50,0,1|featureHash=A2SVfqr|agentUri=https://js-cdn.dynatrace.com/jstag/16294a69b33/ruxitagent_A2SVfqr_10165190401123324.js|auto=|domain=|rid=RID_|rpid=|app=0a38f5c7d06b3d5d",
iCE:a}))}})();}).call(this);

(function(){(function(){function Gb(){return ka?new ka:la?new la("MSXML2.XMLHTTP.3.0"):d.XMLHttpRequest?new d.XMLHttpRequest:new d.ActiveXObject("MSXML2.XMLHTTP.3.0")}function Hb(){la=ka=void 0}function r(){var a=0;try{a=d.performance.timing.navigationStart+Math.floor(d.performance.now())}catch(b){}return 0>=a||isNaN(a)||!isFinite(a)?(new Date).getTime():a}function aa(a,b){function c(){delete ba[f];a.apply(this,arguments)}for(var e=[],ma=2;ma<arguments.length;ma++)e[ma-2]=arguments[ma];var f;"apply"in na?f=na.apply(d,
[c,b].concat(e)):f=na(c,b);ba[f]=!0;return f}function Va(a){delete ba[a];"apply"in P?P.call(d,a):P(a)}function h(a){for(var b=[],c=1;c<arguments.length;c++)b[c-1]=arguments[c];a.push.apply(a,b)}function Wa(a){h(wa,a)}function Ib(){return wa}function Jb(a,b){return Xa(a,b)}function Kb(a,b){a=new Lb([a],{type:b});return Mb(a)}function Nb(a,b){return Ya?new Ya(a,b):void 0}function Ob(a){"function"===typeof a&&h(Za,a)}function Pb(){return Za}function Qb(){return xa}function $a(a){return function(){for(var b=
[],c=0;c<arguments.length;c++)b[c]=arguments[c];if("number"!==typeof b[0]||!ba[b[0]])try{return a.apply(this,b)}catch(e){return a(b[0])}}}function Rb(){ca&&(d.clearTimeout=P,d.clearInterval=ya,ca=!1)}function Q(a,b){return isNaN(a)||isNaN(b)?0:Math.floor(Math.random()*(b-a+1))+a}function F(a,b){return parseInt(a,b||10)}function k(a,b,c){void 0===c&&(c=0);var e=-1;b&&a&&a.indexOf&&(e=a.indexOf(b,c));return e}function ab(a){return document.getElementsByTagName(a)}function bb(a){var b=a.length;if("number"===
typeof b)a=b;else{for(var b=0,c=2048;a[c-1];)b=c,c+=c;for(var e=7;1<c-b;)e=(c+b)/2,a[e-1]?b=e:c=e;a=a[e]?c:b}return a}function Sb(a){a=encodeURIComponent(a);var b=[];if(a)for(var c=0;c<a.length;c++){var e=a.charAt(c);h(b,Tb[e]||e)}return b.join("")}function w(a){if(!a)return"";var b=d.crypto||d.msCrypto;if(b){var c=new Int8Array(a);b.getRandomValues(c)}else for(c=[],b=0;b<a;b++)c.push(Q(0,32));a=[];for(b=0;b<c.length;b++){var e=Math.abs(c[b]%32);a.push(String.fromCharCode(e+(9>=e?48:55)))}return a.join("")}
function cb(){return!(!d.console||!d.console.log)}function Ub(){try{Vb.apply(d.parent,arguments)}catch(a){}}function Wb(){try{Xb.apply(d.top,arguments)}catch(a){}}function Yb(a){var b=Array.prototype.slice.call(arguments,1);try{Zb.apply(a,b)}catch(c){}}function $b(a){var b=Array.prototype.slice.call(arguments,1);try{ac.apply(a,b)}catch(c){}}function x(){return d.dT_}function bc(){return D}function cc(){return db}function dc(){return eb}function ec(){return oa}function fb(){return"dtAdk"}function fc(){return R}
function gb(a){-1<d.dT_.io(a,"^")&&(a=a.split("^^").join("^"),a=a.split("^dq").join('"'),a=a.split("^rb").join(">"),a=a.split("^lb").join("<"),a=a.split("^p").join("|"),a=a.split("^e").join("="),a=a.split("^s").join(";"),a=a.split("^c").join(","),a=a.split("^bs").join("\\"));return a}function gc(){return S}function hc(a){S=a}function hb(a){var b=d.dT_,c=b.scv("rid"),b=b.scv("rpid");c&&(a.rid=c);b&&(a.rpid=b)}function ib(a){if(a.xb){a=gb(a.xb);try{S=new RegExp(a)}catch(b){}}}function jb(a){var b={};
a=a.split("|");for(var c=0;c<a.length;c++){var e=a[c].split("=");2===e.length&&(b[e[0]]=decodeURIComponent(e[1].replace(/\+/g," ")))}return b}function za(){var a=n("csu");return(a.indexOf("dbg")===a.length-3?a.substr(0,a.length-3):a)+"_"+n("app")+"_Store"}function pa(a,b,c){b=b||{};a=a.split("|");for(var e=0;e<a.length;e++){var d=a[e],f=k(a[e],"=");-1===f?b[d]="1":(d=a[e].substring(0,f),b[d]=a[e].substring(f+1,a[e].length))}!c&&(c=b,a=c.spc)&&(e=document.createElement("textarea"),e.innerHTML=a,c.spc=
e.value);return b}function T(a){return a in f?f[a]:qa[a]}function m(a){a=T(a);return"false"===a||"0"===a?!1:!!a}function ra(a){var b=F(T(a));isNaN(b)&&(b=qa[a]);return b}function n(a){return String(T(a)||"")}function ic(a,b){f[a]=b}function kb(a){return f=a}function lb(a){var b=location.hostname;return b&&a?b===a||-1!==b.indexOf("."+a,b.length-("."+a).length):!0}function Aa(a){f[a]=0>k(f[a],"#"+a.toUpperCase())?f[a]:""}function Ba(a){var b=a.agentUri;b&&-1<k(b,"_")&&(b=/([a-zA-Z]*)[0-9]{0,4}_([a-zA-Z_0-9]*)_[0-9]+/g.exec(b))&&
b.length&&2<b.length&&(a.csu=b[1],a.featureHash=b[2])}function Ca(a,b){lb(f.domain||"")||(f.domainOverride=location.hostname+","+f.domain,delete f.domain);f.pVO&&(a.pVO=f.pVO);b||(a.bp=a.bp||qa.bp,1===g&&a.bp1&&(a.bp=1),a.bp2&&(a.bp=2),4!==a.bp||d.JSON||(a.bp=1))}function jc(){return f}function G(a,b){try{var c=da;c&&c.setItem(a,b)}catch(e){}}function ea(a){try{var b=da;if(b)return b.getItem(a)}catch(c){}return null}function fa(a){try{var b=da;b&&b.removeItem(a)}catch(c){}}function sa(a,b){if(H()&&
(!x().v||mb))return a.apply(this,b||[])}function H(){return!m("coo")||m("cooO")||mb}function p(a){document.cookie=a+'="";path=/'+(n("domain")?";domain="+n("domain"):"")+"; expires=Thu, 01 Jan 1970 00:00:01 GMT;"}function nb(a,b,c){var e=1,d=0;do document.cookie=a+'=""'+(b?";domain="+b:"")+";path="+c.substr(0,e)+"; expires=Thu, 01 Jan 1970 00:00:01 GMT;",e=c.indexOf("/",e),d++;while(-1!==e&&5>d)}function E(a){var b=document.cookie;if(!b)return"";var c=a+"=";a=k(b,c);if(0>a)return"";for(;0<=a;)if(a&&
" "!==b.charAt(a-1)&&";"!==b.charAt(a-1))a=k(b,c,a+c.length);else return c=a+c.length,a=k(b,";",a),0<=a?b.substring(c,a):b.substr(c);return""}function kc(a,b,c,e){b||0===b?(b=(""+b).replace(/[;\n\r]/g,"_"),a=a+"="+b+";path=/"+(n("domain")?";domain="+n("domain"):""),c&&(a+=";expires="+c.toUTCString()),e&&(a+=";Secure"),document.cookie=a):p(a)}function y(a,b,c,e){sa(kc,[a,b,c,e])}function ob(a){var b=/^[0-9A-Za-z_=:\$\+\/\.\-\*%\|]*$/.test(a);return 0===g&&(0>=k(a,"$")&&-1===k(a,"=srv=")||a&&2<a.split("$").length)?
!1:b}function pb(){var a=E(D);return a&&ob(a)?a:""}function U(a){y(D,a,void 0,m("ssc"))}function V(a){return 32===a.length||12>=a.length?a:""}function qb(a){if(!isNaN(Number(a))){var b=F(a);if(-99<=b&&99>=b)return a}return""}function rb(a){var b={sessionId:"",b:""},c=k(a,"|"),e=a;-1!==c&&(e=a.substring(0,c));c=k(e,"$");-1!==c?(b.sessionId=V(e.substring(c+1)),b.b=qb(e.substring(0,c))):b.sessionId=V(e);return b}function sb(a){var b={sessionId:"",b:""};a=a.split("v"===a.charAt(0)?"_":"=");if(2<a.length&&
!(a.length%2)){var c=Number(a[1]);if(isNaN(c)||3>c)return b;for(var c={},e=2;e<a.length;e++)c[a[e]]=a[e+1],e++;b.sessionId=V(c.sn);c.srv&&(b.b=qb(c.srv));"1"===c.ol&&(G("dtDisabled","true"),x().disabled=!0,x().v=!0)}return b}function I(a){var b=document.cookie?document.cookie.split(a).length-1:0;if(1<b){var c=n("domain")||d.location.hostname,e=d.location.hostname,f=d.location.pathname,g=0,l=0;z.push(a);do{var k=e.substr(g);if(k!==c||"/"!==f){nb(a,k===c?"":k,f);var h=document.cookie?document.cookie.split(a).length-
1:0;h<b&&(z.push(k),b=h)}g=e.indexOf(".",g)+1;l++}while(g&&10>l&&1<b);n("domain")&&1<b&&nb(a,"",f)}}function lc(){I(R);I(D);I(oa);I("rxvt");Wa(function(a,b,c,e){0<z.length&&!b&&(a.av(e,0,"dCN",function(){return z.join(",")}),a.av(e,4,"duplicateCookieNames",function(){return z.slice()}),z=[])})}function mc(){return W}function Da(a,b,c,e){var d=document.createElement("script");d.setAttribute("src",a);b&&d.setAttribute("defer","true");c&&(d.onload=c);e&&(d.onerror=e);d.setAttribute("crossorigin","anonymous");
a=document.getElementsByTagName("script")[0];a.parentElement.insertBefore(d,a)}function Ea(a,b){return Fa+"/"+(b||J)+"_"+a+"_"+(ra("buildNumber")||x().version)+".js"}function ta(a){H()?a():(t||(t=[]),h(t,a))}function nc(a){return sa(a)}function oc(){for(var a=0;a<t.length;a++)aa(t[a],0);t=[];f.cooO=!0}function pc(){f.cooO=!1;p(D);p(R);p(oa);p("dtSa");p(fb());0===g&&(p("rxVisitor"),p("rxvt"));try{var a=da;a&&(0===g&&a.removeItem("rxVisitor"),a.removeItem(D));(a=Ga)&&a.removeItem(za())}catch(b){}}function tb(a){if(a=
a||pb()){var b=a.charAt(0);return"v"===b||"="===b?sb(a):rb(a)}return{sessionId:"",b:""}}function K(a){return tb(a).b}function L(a){return tb(a).sessionId}function qc(){return q}function rc(){ta(function(){L()||U((0===g?-1*Q(2,21)+"$":"")+w(32));q=K()||""})}function Ha(a){try{if(d.localStorage)return d.localStorage.getItem(a)}catch(b){}return null}function ga(a){try{d.localStorage&&d.localStorage.removeItem(a)}catch(b){}}function ub(a,b){b=X(b);for(var c=!1,e=0;e<b.length;e++)b[e].frameId===W&&(b[e].g=
a,c=!0);c||h(b,{frameId:W,g:a});ha(b)}function ha(a,b){var c="";if(a){for(var c=[],e=0;e<a.length;e++)"-"!==a[e].g&&(0<e&&0<c.length&&h(c,"p"),0===g&&(h(c,q),h(c,"$")),h(c,a[e].frameId),h(c,"h"),h(c,a[e].g));0===g&&(c.length||(Ia&&(M(0,!0),Ja(!1)),q=K()||"",h(c,q),h(c,"$"),h(c,W),h(c,"h-")),h(c,"v"),h(c,b||Ka()));c=c.join("")}c||(c="-",0===g&&(Ia&&(M(0,!0),Ja(!1)),q=K()||"",c=q+"$"+W+"h-v"+(b||Ka())));y(R,c,void 0,m("ssc"))}function X(a){var b=E(R),c=[];if(b&&"-"!==b)for(var b=b.split("p"),e=0;e<
b.length;e++){var d=b[e].split("h");if(2===d.length&&d[0]&&d[1]){var f=d[0];if(0===g&&(f&&0<=k(f,"$")&&(f=f.split("$")[1]),0<=k(d[1],"v"))){var l=d[1].split("v");if(2===l.length){var n=l[1];d[1]=l[0]}}if(!(l=a)){var l=F(f.split("_")[0]),m=r()%La;m<l&&(m+=La);l=l+9E5>m}l&&h(c,{frameId:f,g:d[1]})}}if(0===g)for(a=0;a<c.length;a++)c[a].visitId=n||"";return c}function Ka(){return Ma()||M(0,!0)}function Ma(){var a=X(!0);if(!(Na()<=r())){A(!1);if(a&&1<=a.length)return a[0].visitId||"";(a=Ha(N))||(a=ea(N));
return a||""}return""}function A(a){var b=r(),c=vb().j;a&&(c=b);wb(b+xb+"|"+c);yb()}function zb(a){a||(a=Q(1,1E6));var b=L()||"";b||(b=(0===g?-1*Q(2,21)+"$":"")+w(32),U(b),b=L(b)||"");a=""+a;for(var c=a.length,e=[],d=0;d<b.length;d++)e[d]=String.fromCharCode(65+Math.abs((b.charCodeAt(d)^a.charCodeAt(d%c))%26));b=e.join("");for(a=0;a<Oa.length;a++)Oa[a](b,Y);return b}function Pa(a){var b=X(!1);ha(b,a);Qa(N,a);A(!0)}function M(a,b){b&&(Y=!0);a=zb(r());Pa(a);return a}function sc(a){Oa.push(a)}function yb(){Ra&&
Va(Ra);Ra=aa(Ab,Na()-r())}function Ab(){if(Na()<=r()&&H()){var a=zb(r());Pa(a);return!0}ta(yb);return!1}function wb(a){y("rxvt",a,void 0,m("ssc"));Qa("rxvt",a)}function Qa(a,b){if(m("dpvc")||m("pVO"))G(a,b),ga(a);else{try{d.localStorage&&d.localStorage.setItem(a,b)}catch(c){}fa(a)}}function Bb(){var a=E("rxvt");a||(a=Ha("rxvt")||"")||(a=ea("rxvt")||"");return a}function Cb(){var a=Ma()||"";Qa(N,a);a=Bb();wb(a)}function vb(){var a={m:0,j:0},b=Bb();if(b)try{var c=b.split("|");2===c.length&&(a.m=parseInt(c[0],
10),a.j=parseInt(c[1],10))}catch(e){}return a}function Na(){var a=vb();return Math.min(a.m,a.j+Db)}function tc(a){xb=a}function Ja(a){void 0===a&&(a=!0);Ia=a}function uc(){var a=Y;Y=!1;return a}function vc(){Ab()||A(!1)}function Sa(){var a=E("rxVisitor");if(!a||a.length&&a.length!==Ta)a=ea("rxVisitor"),a&&a.length===Ta||(Eb=!0,a=r()+"",a+=w(Ta-a.length));var b=a;if(!m("dpvc")&&!m("pVO")){var c=new Date;c.setFullYear(c.getFullYear()+2)}y("rxVisitor",b,c,m("ssc"));G("rxVisitor",b);return a}function wc(){return Eb}
function xc(a){var b=E("rxVisitor");p("rxVisitor");fa("rxVisitor");y("rxVisitor",b);f.pVO=!0;if(a)try{d.localStorage&&d.localStorage.setItem(Ua,"1")}catch(c){}Cb()}function yc(){ga(Ua);m("pVO")&&(f.pVO=!1,Sa());Cb()}function zc(){d.dT_={version:"10165190401123324",cfg:d.dT_?d.dT_.cfg:"",iCE:d.dT_?d.dT_.iCE:function(){return navigator.cookieEnabled},ica:1,disabled:!1,v:!1,gx:Gb,cx:Hb,mp:Ub,mtp:Wb,mi:Yb,mw:$b,gAST:Qb,ww:Nb,stu:Kb,nw:r,apush:h,st:aa,si:Jb,aBPSL:Wa,gBPSL:Ib,aBPSCC:Ob,gBPSCC:Pb,buildType:0===
g?"dynatrace":"appmon",gSSV:ea,sSSV:G,rSSV:fa,rvl:ga,pn:F,iVSC:ob,p3SC:sb,pLSC:rb,io:k,dC:p,sC:y,esc:Sb,gSId:K,gDtc:L,gSC:pb,sSC:U,gC:E,cRN:Q,cRS:w,gEL:bb,gEBTN:ab,gSCN:bc,gPCHN:cc,gRHN:dc,gPCCN:fc,gLCN:ec,gMSIDCN:fb,cfgO:jc,pCfg:jb,pCSAA:pa,cFHFAU:Ba,sCD:Ca,bcv:m,ncv:ra,scv:n,stcv:ic,rplC:kb,cLSCK:za,gFId:mc,gBAU:Ea,iS:Da,eWE:ta,oEIE:nc,oEIEWA:sa,eA:oc,dA:pc,gcSId:qc,iNV:wc,gVID:Sa,dPV:xc,ePV:yc,sVIdUP:Ja,sVTT:tc,sVID:Pa,rVID:Ma,gVI:Ka,gNVId:M,gARnVF:uc,cAUV:vc,uVT:A,aNVL:sc,gPC:X,cPC:ub,sPC:ha,
clB:Rb,ct:Va,aRI:hb,iXB:ib,gXBR:gc,sXBR:hc,de:gb,cCL:cb}}var B=window;if(!B.dT_||!B.dT_.cfg||"string"!=typeof B.dT_.cfg||B.dT_.initialized)B.console&&B.console.log("Initconfig not found or agent already initialized! This is an injection issue.");else if(!(navigator.userAgent&&0<=navigator.userAgent.indexOf("RuxitSynthetic"))){var d="undefined"!==typeof window?window:self,ka,la,wa,Za=[],xa,Ga,da,ba={},Tb=new (function(){return function(){this["!"]="%21";this["~"]="%7E";this["*"]="%2A";this["("]="%28";
this[")"]="%29";this["'"]="%27";this.$="%24";this[";"]="%3B";this[","]="%2C"}}()),na,Xa,Zb=d.postMessage,Ya=d.Worker,Lb=d.Blob,Mb=d.URL&&d.URL.createObjectURL,ac=d.Worker&&d.Worker.prototype.postMessage,Vb=d.parent.postMessage,Xb=d.top.postMessage,P,ya,ca=!1,g,qa,R="dtPC",D="dtCookie",db="x-dtpc",eb="x-dtreferer",oa="dtLatC",S,f={},mb=!!navigator.userAgent&&0<=navigator.userAgent.indexOf("RuxitSynthetic"),z=[],W,La=6E8,Fb,Fa,J,Ac={childList:!0,subtree:!0,attributes:!0,attributeOldValue:!0},Bc=["_DT_RENDERING_"],
t=[],q,N="rxvisitid",Ra,xb=18E5,Db=216E5,Y=!1,Oa=[],Ia=!1,Ua="dt-pVO",Ta=45,Eb=!1;if(!function(a){try{g=a;var b=d.dT_;ka=d.XMLHttpRequest;la=d.ActiveXObject;na=d.setTimeout;Xa=d.setInterval;ca||(P=d.clearTimeout,ya=d.clearInterval);if(b.iCE&&!b.iCE()||!navigator.cookieEnabled||!("complete"!==document.readyState||d.performance&&d.performance.timing))return!1;zc();try{Ga=d.localStorage,da=d.sessionStorage}catch(ua){}xa=r();wa=[];ba={};ca||(d.clearTimeout=$a(P),d.clearInterval=$a(ya),ca=!0);W=xa%La+
"_"+F(Q(0,1E3)+"");qa={ade:"",agentLocation:"",agentname:"",agentUri:"",uana:"data-dtname,data-dtName",app:"",async:!1,auto:!1,bandwidth:"300",bp1:!1,bp2:!1,bp:0===g?1:2,bs:!1,buildNumber:0,coo:!1,cooO:!1,cors:!1,csu:"",cux:!1,dataDtConfig:"",debugName:"",dASXH:0===g?!1:!0,disableCookieManager:!1,disableLogging:!1,dmo:!1,dpvc:!1,disableXhrFailures:!1,domain:"",domainOverride:"",doNotDetect:"",dsndb:!1,dsss:!1,euf:!1,evl:"",extblacklist:"",exteventsoff:!1,fa:!1,featureHash:"",ffi:!1,hvt:216E5,lastModification:0,
imm:!1,initializedModules:"",ign:"",instr:"",lab:!1,legacy:!1,lmut:!0,lzwd:!1,lzwe:!1,md:"",name:"",mdn:5E3,mepp:10,moa:30,mrt:3,msl:3E4,mhl:4E3,ncw:!1,ntd:!1,oat:180,ote:!1,perfbv:1,pui:!1,pVO:!1,rdnt:0,reportUrl:"dynaTraceMonitor",restoreTimeline:!1,rid:"",ridPath:"",rpid:"",rt:0===g?1E4:0,rtl:0===g?0:100,rtp:0===g?2:1,rtt:1E3,rtu:200,rx_visitID:"",sl:100,sosi:!1,spc:"",srbbv:1,srbw:!0,srad:!0,srmr:100,srms:"1,1,,,",srsr:1E5,srtbv:3,srtd:1,srtr:500,srwo:!1,ssc:!1,st:3E3,svNB:!1,syntheticConfig:!1,
tal:0,tp:"500,50,3",tt:100,tvc:3E3,uam:!1,useNewCookies:!1,uxrgce:!0,uxrgcm:"100,25,300,3;100,25,300,3",vcfi:0===g?!0:!1,WST:!1,xb:"",xmut:!0,xt:0};a:{var c=x().cfg;f={reportUrl:"dynaTraceMonitor",initializedModules:"",csu:"dtagent",dataDtConfig:"string"===typeof c?c:""};x().cfg=f;0===g&&(f.csu="ruxitagentjs");var e=f.dataDtConfig;e&&-1===k(e,"#CONFIGSTRING")&&(pa(e,f),Aa("domain"),Aa("auto"),Aa("app"),Ba(f));var h=ab("script"),p=bb(h),l=-1===k(f.dataDtConfig||"","#CONFIGSTRING")?f:null;if(0<p)for(a=
0;a<p;a++)b:{var b=void 0,q=h[a],c=l;if(q.attributes){var y=f.csu+"_bootstrap.js",e=/.*\/jstag\/.*\/.*\/(.*)_bs(_dbg)?.js$/,z=c,O=q.src,t=O&&O.indexOf(y),B=q.attributes.getNamedItem("data-dtconfig");if(B){var w=O,G=B.value,u={};f.legacy=!0;if(w){var Z=/([a-zA-Z]*)[0-9]{0,4}_([a-zA-Z_0-9]*)_([0-9]+)/g.exec(w);Z&&Z.length&&(u.csu=Z[1],u.featureHash=Z[2],0===g&&(u.agentLocation=w.substr(0,k(w,Z[1])-1),u.buildNumber=Z[3]))}G&&pa(G,u,!0);lb(u.domain)||(u.domainOverride=location.hostname+","+u.domain,delete u.domain);
b=u;if(!c)z=b;else if(!b.syntheticConfig){l=b;break b}}b||(b=f);if(t&&0<=t){var I=t+y.length+5;b.app=O.length>I?O.substr(I):"Default%20Application"}else if(O){var K=e.exec(O);K&&(b.app=K[1])}l=z}else l=c}if(l)for(var L in l)l.hasOwnProperty(L)&&(h=L,f[h]=l[h]);f.rx_visitID&&(x().rx_visitID=f.rx_visitID);var X=za();try{var M=(l=Ga)&&l.getItem(X);if(M){var ia=jb(M),v=pa(ia.config||""),A=f.lastModification||"0",N=F((v.lastModification||ia.lastModification||"0").substr(0,13)),Y="string"===typeof A?F(A.substr(0,
13)):A;if(!A||N>=Y)if(v.agentname=ia.name,v.agentUri?Ba(v):(v.csu=ia.name,v.featureHash=ia.featureHash),Ca(v,!0),ib(v),hb(v),N>(f.lastModification||0)){var aa=m("auto");f=kb(v);f.auto=aa}}}catch(ua){}Ca(f);try{var S=f.ign;if(S&&(new RegExp(S)).test(d.location.href)){document.dT_=d.dT_=void 0;var ja=!1;break a}}catch(ua){}f.useNewCookies&&0===g&&(R="rxpc",D="rxsession",oa="rxlatency",db="x-rxpc",eb="x-rxreferer");ja=!0}if(!ja)return!1;lc();try{Fb=x().disabled||!!ea("dtDisabled")}catch(ua){}var va;
if(!(va=n("agentLocation")))a:{var T=n("agentUri");if(T||document.currentScript){var C=T||document.currentScript.src;if(C){var fa=-1===k(C,"_bs")&&-1===k(C,"_bootstrap")&&-1===k(C,"_complete")?1:2,H=C.lastIndexOf("/");for(ja=0;ja<fa&&-1!==H;ja++)C=C.substr(0,H),H=C.lastIndexOf("/");va=C;break a}}var U=location.pathname;va=U.substr(0,U.lastIndexOf("/"))}Fa=va;J=n("agentname")||n("csu")||(0===g?"ruxitagentjs":"dtagent");"true"===E("dtUseDebugAgent")?0>J.indexOf("dbg")&&(J=n("debugName")||J+"dbg"):J=
n("name")||J;if(!m("auto")&&!m("legacy")&&!Fb){var V=n("agentUri")||Ea(n("featureHash"));m("async")||"complete"===document.readyState?Da(V,m("async")):document.write('<script type="text/javascript" src="'+V+'">\x3c/script>')}var ga=d.location.href;0===g&&-1!==k(ga,"_DT_RENDERING_")&&(x().RMOD={conf:Ac,ignore:Bc,ID:"_DT_RENDERING_"},Fa&&Da(Ea("R"),!0));E(D)&&(f.cooO=!0);rc();if(0===g){var ha=!!Ha(Ua);f.pVO=ha;ta(Sa)}0===g&&ra("hvt")&&(Db=ra("hvt"));sa(ub,[1])}catch(ua){return!1}return!0}(0)){try{delete d.dT_}catch(a){d.dT_=
void 0}cb()&&d.console.log("JsAgent initCode initialization failed!")}}})();}).call(this);


</script>

  <title>Hello from OpenShift v3!</title>
</head>
<body>
  <div class="page-header" align=center>
    <h1> Marc Chisinevski - Welcome to an OpenShift Container Platform 3.11 Demo App - monitored by Dynatrace </h1>
  </div>

  <% if ENV["DATABASE_SERVICE_HOST"].nil? && ENV["DATABASE_TEST_SERVICE_HOST"].nil? %>
  <div class="container" align=center>
    <h3>(It looks like the database isn't running.  This isn't going to be much fun.)</h3>
  </div>
  <% else %>
  <div class="container">
    <h3> Get, edit or delete key-value pairs, for fun. </h3>
    </br>
    <form role="form" name="myForm" onSubmit="return handleSubmit()">
      <div type="text" class="alert alert-warning" id="response" role="alert" style="display:none;"> </div>
      <div class="form-group">
        <label for="key"> Key </label>
        <input type="text" class="form-control" id="key" name="key" value="" placeholder="Example: FirstName">
      </div>

      <div class="form-group">
        <label for="value">Value</label>
        <input type="text" id="value" class="form-control" name="value" value="" placeholder="Example: Dan"/>
      </div>

      <div class="input-group-btn">
        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">Action type <span class="caret"></span></button>
        <ul class="dropdown-menu" role="menu">
          <li><a href="#" id="get">Get</a></li>
          <li><a href="#" id="put">Put</a></li>
          <li><a href="#" id="delete">Delete</a></li>
        </ul>
      </div>
    </form>
  </div>
  <% end %>
</body>

<script type="text/javascript">
function handleSubmit()
      {
        return false;
      }

document.getElementById('get').onclick = function() {
    xmlHttp = new XMLHttpRequest();
    xmlHttp.open( "GET",window.location.protocol+"//"+window.location.hostname+":"+window.location.port+"/keys/"+document.getElementById("key").value, false );
    xmlHttp.send( null );
    document.getElementById("response").style.display = 'block';
    document.getElementById("response").innerHTML = xmlHttp.responseText;
}

document.getElementById('put').onclick = function() {
    xmlHttp = new XMLHttpRequest();
    xmlHttp.open( "POST", window.location.protocol+"//"+window.location.hostname+":"+window.location.port+"/keys/"+document.getElementById("key").value, false );
    var params = "value="+document.getElementById("value").value;

    xmlHttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
    xmlHttp.setRequestHeader("Content-length", params.length);
    xmlHttp.setRequestHeader("Connection", "close");

    xmlHttp.send( params );
    document.getElementById("response").style.display = 'block';
    document.getElementById("response").innerHTML = xmlHttp.responseText;
}

document.getElementById('delete').onclick = function() {
    xmlHttp = new XMLHttpRequest();
    xmlHttp.open( "DELETE", window.location.protocol+"//"+window.location.hostname+":"+window.location.port+"/keys/"+document.getElementById("key").value, false );
    xmlHttp.send( null );
    document.getElementById("response").style.display = 'block';
    document.getElementById("response").innerHTML = "Key deleted.";
}

</script>
</html>
